body {
	padding: 0;
	margin: 0;
	text-align: center;
	background: #313131;
}

#content {
	min-height: 400px;
	margin: 0 auto;
	padding: 0;
	position: relative;
}

h1 {
	font: 42px sans-serif;
	color: #fefefe;
	display: block;
	margin: 0;
	padding: 42px 0 42px 0;
	background: #4ee3c1;
}

#messaging {
	padding: 10px;
	margin: 0;
}

.second {
	background: #313131;
	padding: 20px 0;
}

p {
	font: 18px sans-serif;
	color: #fefefe;
}
#container {
/*
	position: absolute;
	top: 50%;
	margin-top: -50px;
	left: 0;
	*/
	width: 100%;
}



.column {
	float: left;
	min-width: 100px;
	margin-right: 1px;
	padding: 0;
	background: #ccc;
	list-style-type: none;
}
.key {
	font-weight: bold;
	padding: 4px 20px;
	background: #eee;
}
.active {
	background: #00ccff;
}
.row {
	padding: 4px 20px;
	border-top: 1px solid #fff;
}

#log {
	width: 400px;
	font: 32px sans-serif;
	color: #bababa;
}

#takepic {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	background: rgba(150,238,255,1);
	border: 5px solid #fff;
	margin: 0 auto;
	overflow: hidden;
}

#takepic-div {
	width: 200px;
	height: 200px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font: 28px sans-serif;
	color: #fff;
	margin-bottom: 40px;
	
}

#send-off, #look, #image-controls {
	display: none;
}

#photo {
	margin-bottom: 20px;
}

#photo img {
	width: 380px;
}


/* -------- Typography -------- */

#look p, #send-off p {
	font: 38px sans-serif;
	color: #bababa;
}


.welcome {
	font: 28px sans-serif;
	margin: 10px 0;
}

.instructions {

	font: 18px sans-serif;

}
/* -------- Form Elements -------- */

input[type=text],
input[type=submit],
input[type=button] {
	border: 0;
	border-radius: 4px;
	padding: 12px;
	font: 16px sans-serif;
	background: #edeee7;
	color: #313131;
}


*::-webkit-input-placeholder, *::-webkit-input-placeholder:active {
   color: #c8c8c8;
}    
*:-moz-placeholder, *:-moz-placeholder:active  {
    /* FF 4-18 */
    color: #c8c8c8;
}
*::-moz-placeholder, *::-moz-placeholder:active  {
    /* FF 19+ */
    color: #c8c8c8;
}    
*:-ms-input-placeholder, *:-ms-input-placeholder:active   {
    /* IE 10+ */
    color: #c8c8c8;
}

#uname_data {
	width: 80%;
	margin-bottom: 14px;
}

#usubmit {
	display: block;
	margin: 0 auto;
	background: #4ee3c1;
	color: #fefefe;
	width: 60%;
}

#home-button {
	display: none;
	width: 180px;
	margin: 40px auto 0 auto;
}

#try-button {
	width: 182px;

	margin: 0 10px 20px 0;
}

#confirm-button {
	width: 182px;
	margin: 0 auto 20px auto;
}

.local #welcome {
	display: none;
}
