<!DOCTYPE HTML>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
    <title>{{title}}</title>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.0.min.js') }}"></script>
    <script type="text/javascript" src="http:////cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
    
<body class="home">
<div id="container">
	<h1>TMW Photobooth</h1>
	<div id="content">
		<div id="image-controls">
			<input type="button" name="try-button" id="try-button" value="Try again">
			<input type="button" name="confirm-button" id="confirm-button" value="Use this">
		</div>
		<div class="second"><p id="messaging">Please enter your TMW username</p>
	        <form id="user_submit">
	        	<input type="text" name="uname" id="uname_data" placeholder="Username">
	        	<input type="submit" name="usubmit" id="usubmit" value="Log in">
	        </form>
	    </div>
		<div id="log"></div>
		<div id="photo"></div>
		<div id="send-off"><p>Go check your email!</p></div>
		<div id="look"><p>Look at the camera!</p></div>
	    	<div id="takepic"><div id="takepic-div" class="control">Take a photo</div></div>

			<input type="button" name="home-button" id="home-button" value="Start over">

	</div>
</div>
</body>
</html>
