<!DOCTYPE HTML>
<html>
<head>
<style type="text/css">

</style>
    <title>{{title}}</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="http:////cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
    
<body class="home">
<div id="container">
	<div id="content">

	    <form id="user_submit">
	        <input type="text" name="uname" id="uname_data">
	        <input type="submit" name="usubmit" id="usubmit">
	    </form>
		
	    <div id="takepic"><div id="takepic-div">Take a photo</div></div>
	    <div id="log"></div>
	</div>
</div>
</body>
</html>