<!DOCTYPE HTML>
<html>
<head>
<style type="text/css">

</style>
    <title>{{title}}</title>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.0.min.js') }}"></script>
    <script type="text/javascript" src="http:////cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/local.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
    
<body class="local">
<div id="container">
	
	<div id="content">
		<div id="welcome">
			<h1>TMW Photobooth</h1>
			<div id="second">
				<p>Please ensure your smartphone is connected to the CRE_House WiFi network then 
				visit <strong>http://photo.tmw.co.uk</strong> to get started.</p>
			</div>
			<ul>
				<li><img src="{{ url_for('static', filename='images/wifi_icon.png') }}"><p>SSID: CRE_HOUSE<br>Pword: Tog3th$r</p></li>
				<li><img src="{{ url_for('static', filename='images/url_icon.png') }}"><p>http://photo.tmw.co.uk</p></li>
			</ul>
		</div>
		
</div>
</body>
</html>
