<!DOCTYPE HTML>
<html>
<head>
<style type="text/css">
body {
padding: 0;
margin: 0;
}
.column {
float: left;
min-width: 100px;
margin-right: 1px;
padding: 0;
background: #ccc;
list-style-type: none;
}
.key {
font-weight: bold;
padding: 4px 20px;
background: #eee;
}
.active {
background: #00ccff;
}
.row {
padding: 4px 20px;
border-top: 1px solid #fff;
}

.log {
float: left;
width: 500px;
}

#takepic {
max-width: 200px;
background: #eee;
border: 1px solid #cecece;
padding: 10px;
text-align: center;
margin: 40px auto;
}
</style>
    <title>{{title}}</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="http:////cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
	var key = 0;
            var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');

		$('#takepic').click(function() {
			socket.emit('my event', { data: "takepic" });
			return false;
		});

        });
    </script>
<body>


<div id="takepic">
Take a photo
</div>


</body>
</html>